@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.btn-orange {
    background-color: var(--bs-orange) !important;
}

/* Navbar */
.navbar-dark,
.navbar-light {
    transition: ease-in-out 0.5s;
}
.navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
}
.navbar .navbar-brand label:first-child {
    color: var(--bs-orange) !important;
    font-size: 21px;
}
.navbar ul li .active {
    color: var(--bs-orange) !important;
}
.navbar .dropdown-item:active {
    color: var(--bs-orange) !important;
    background-color: #fff !important;
}

@media (max-width: 500px) {
    .navbar .navbar-brand label:first-child {
        font-size: 16px;
    }
    .navbar .navbar-brand label:nth-child(2) {
        font-size: 12px !important;
    }
}
@media (max-width: 991px) {
    .navbar-nav {
        background-color: #f8f9fa;
    }
    .navbar-nav li * {
        color: black !important;
    }
}
/* End Navbar */

/* Hero */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.png");
    background-size: cover;
    position: relative;
}
#hero button {
    color: #3e446b;
}
#hero * {
    color: white;
}
#hero label {
    text-align: justify;
}
#hero label a,
#hero h1 > label {
    color: var(--bs-orange);
}
#hero .card-swipe {
    width: 400px;
    height: 250px;
    background-color: #999999;
    border-radius: 20px !important;
    overflow: hidden;
}
@media (max-width: 500px) {
    #hero {
        padding-top: 100px;
        background-position: -14em -3em;
        background-repeat: no-repeat;
        height: max-content;
    }
    #hero .btn {
        width: 100%;
    }
    #hero h1 {
        text-align: center;
    }
    #hero .card-swipe {
        width: 100%;
    }
}
/* @media (max-width: 1200px) {
    #hero .card-swipe {
        width: 100%;
    }
} */
/* End Hero */
